.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #97b1e4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(229, 142, 255, 0.386);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Controls{
  background-color: rgba(255, 0, 76, 0.388);
  border: 1px solid white; 
  color: white;
  display: flex;
  display: inline-flex

}

.Button{
  color: royalblue;  
  font-size: 18px;
  display: flex;
  justify-content: center;

}
.Counter{
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-bottom: 10px;
}

.ItemDetailContainer{
  background-color: aqua;
}